@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?awdu5x');
	src:url('fonts/icomoon.eot?#iefixawdu5x') format('embedded-opentype'),
		url('fonts/icomoon.woff?awdu5x') format('woff'),
		url('fonts/icomoon.ttf?awdu5x') format('truetype'),
		url('fonts/icomoon.svg?awdu5x#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
	content: "\e908";
	margin-right: 0.8em;
}

.icon-star:before {
	content: "\e9d7";
	color: #FFBE2C;
	margin-right: 0.4em;
	position: relative;
	top: 0.1em;

}

.icon-star-full:before {
	content: "\e9d9";
	
}

.icon-up:before {
	content: "\ea03";
	
	
}

.icon-down:before {
	content: "\ea05";
	color: #DD4F24;

}


@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


a
{
	color:#22BCE0;
}
body
{
	background:#EEEEEE;
	font-family: "open_sansregular";
	font-size: 16px;
}
footer
{
	background: #22BCE0;
	text-align: center;
	color: rgba(255,255,255,0.7);
	padding: 1em;
}
footer p:first-child{
	margin-bottom: 0;
}
footer p:last-child{
	margin-top: 0;
}
footer p:last-child:after{
	content: " -";
}
footer p:last-child:before{
	content: "- ";
}
header
{
	
	background: #002F2F;
	color: white;
	overflow: hidden;
	padding: 0.5em;

}
header figure
{
 float :left;

}
 header h1
 {
 	font-size: 1.2em;
 	font-weight: normal;
 	margin: 0.2em 70px 0 0;
 	
}
header #avatar {
	
	margin: 0.5em 0.5em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}
header #avatar img 
{

border-radius:50%; 
width: 75px;

}
header #logo
{
	border-right: 1px solid white;
}
header #logo img:hover{
	transform:rotate(360deg);

}
header #logo img 
{
margin-right: 0.5em;
padding-right: 0.5em; 	
width: 50px;
transition:0.5s;

}
nav
{
background:#005B60;
padding: 0 6em 0 0;
position: relative;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding:0;
}
nav ul #publicar_nav{
	
	position: absolute;
	top: -0.3em;
	right: 0;
}
nav ul #publicar_nav a
{
	background: #22BCE0;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px ;
	padding:0.8em 0.5em 0.8em 2.5em ;
	border-radius: 5px; 
	text-decoration: none;
	font-size: italic;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px ;
}
nav ul #publicar_nav a:before{
	position: absolute;
left: 0.5em;
top: 0.7em;
}

nav ul #publicar_nav a:hover:before
{
font-size: 20px;


}
nav ul li a:hover{
	background: #002F2F;
}

nav ul li
{
	display: inline-block;
	margin: 0 1em 0 0;
}
nav ul li a
{	transition:.3s;
	color: white;
	display: block;
	padding: 0.5em;
}
#contenido 
{
	margin: 1em;
}


#contenido .item{
	background: white;
	border-bottom: 3px solid #22BCE0;
	/*overflow: hidden;*/
	position: relative;
	min-height: 128px;
	margin-bottom: 3em;

}
#contenido .item .imagen_item img{

width: 96px;
	
}
#contenido .item .imagen_item {

float: left;
margin: 0 1em 0 0;
	
}
#contenido .item .titulo_item
{
	font-size: 1.2em;
	
	padding: 1em 1em 0 0;
	
}
#contenido .item .titulo_item a
{
text-decoration: none;
color: black;


}
#contenido .item .autor_item
{
	color: #aaa;

}
#contenido .item .datos_item
{
	text-align: right;
	margin : 1em 1em 0 0;
}
#contenido .item .datos_item .fecha_item
{
	color: #aaa;
}

#contenido .item .datos_item .tag_item
{
	background: #F4502A;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 0.2em 0.5em;
	border-radius: 0.5em;
	float: left;
}
#contenido .item .votacion
{
	position: absolute;
	top: 100%;
	background: white;
	width:90%;
	left: 5%; 
	margin-top: 3px;
	padding:0.2em 0.5em;
	border-radius: 0 0 0.5em 0.5em;

	
}
#contenido .item .votacion a
{
	text-decoration: none;
}
#contenido .item .votacion .comentarios_item , #contenido .item .votacion .guardar_item
{
	float: right;
}
#contenido .item .votacion .comentarios_item
{
color: #444;
}

@media screen and (min-width: 800px){
	
	#contenido .item{
		width: 49%;
		float: left;
	}
	#contenido {
		overflow: hidden;
		
	}
	#contenido .item:nth-child(odd){
	margin-right: 2%;
	}
}